:root {
  /* #646cff */
  --vp-c-brand-1: hsl(237, 100%, 70%);
  --vp-c-brand-2: hsl(237, 100%, 73%);
  --vp-c-brand-3: hsl(237, 100%, 70%);
  --vp-c-brand-soft: hsl(237, 100%, 70%, 14%);

  --vp-code-block-bg: #f9fafb;
}

html.dark {
  --vp-code-block-bg: var(--vp-c-bg-alt, #161618);
}

.demo-block .xl-button {
  margin: 0 10px 10px 0;
}


/* vp-doc style */
.vp-doc table {
  display: table !important;
  width: 100%;
}

.vp-doc tr:nth-child(2n) {
  background-color: transparent !important;
}

.vp-doc th {
  color: unset !important;
}
a.pure {
  border-radius: 8px !important;
  display: flex !important;
  align-items: center !important;
}

a.pure.pure-doc::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url("/pure-doc.svg");
  background-repeat: no-repeat;
  margin-right: 0.5em;
  background-size: 90% 100%;
  background-position: left center;
  transition: background-position 0.25s ease;
}

a.pure.pure-table::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url("/table.svg");
  background-repeat: no-repeat;
  margin-right: 0.5em;
  background-size: 90% 100%;
  background-position: left center;
  transition: background-position 0.25s ease;
}

a.brand.pure-utils-start:hover::after,
a.pure.pure-doc:hover::before,
a.pure.pure-table:hover::before {
  background-position: right center;
}

a.pure.pure-doc:hover,
a.pure.pure-table:hover {
  box-shadow: 0px 0px 10px 0px var(--vp-c-brand);
  transition: box-shadow 0.25s ease;
}